header {
    background-color: black;
    margin: 20px;
    text-align: center;
    color: white;
    border-radius: 10px;
}
body > h2 {
    background-color: gray;
    border-top-right-radius: 100px;
    margin-right: 100px;
    margin-left: 10px;
    padding: 3px;
    color: white;
}
body > ul {
    background-color: darkgrey;
    margin: 5px 100px 5px 5px;
    border-style: double;
    border-color: white;

}

* {
    margin: 0;
}
